package templates

import (
	"rename-me/templates/base"
)

templ BodyWithBase(route string, bodyComponent templ.Component) {
	@base.Base() {
		@Body(route, bodyComponent)
	}
}

templ Body(route string, bodyComponent templ.Component) {
	<div id="main">
		@base.Icons()
		<div class="primary-container flex-grow-1">
			@sidebar(route)
			<div class="container mx-4 overflow-auto" id="tab-content">
				@bodyComponent
			</div>
		</div>
	</div>
}

templ Other(route string) {
	<div>{ route }</div>
}
